sw-channel {
  width: 100%;
  display: block;
  text-align: center;
}

sw-channel > img {
  max-width: 100%;
}

sw-collection, sw-video-details {
  margin: 0 auto 0 auto;
  text-align: left;
  width: fit-content;
  max-width: 1000px;
  display: block;
}

sw-media {
  display: inline-block;
  margin: 1em;
}

sw-media > a {
  text-decoration: none;
  color: rgb(50,50,50);
  font-size: 85%;
}

sw-media > a > img {
  width: 160px;
  height: 90px;
}

sw-video-details > img {
  float: left;
  width: 480px;
  height: 270px;
  margin: 0 1em 1em 0;
}

sw-video-details > a {
  clear: both;
  display: block;
}

sw-video-details > p {
  color: rgb(50,50,50);
  font-size: 90%;
}

sw-video-details > button {
  background-color: rgb(255,255,255);
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(209, 213, 219);
  border-style: solid;
  padding: 1em 1.5em 1em 1.5em;
  font-weight: 500;
  font-size: 102%;
}