sw-channel {
  width: 100%;
  display: block;
  text-align: center;
}

sw-channel > img {
  max-width: 100%;
}

sw-collection {
  display: block;
  margin: 0 auto 0 auto;
  text-align: left;
  width: fit-content;

  max-width: 1280px;
}

sw-media {
  display: inline-block;
  margin: 1em;
}

sw-media > a {
  text-decoration: none;
  color: rgb(50,50,50);
  font-size: 85%;
}

sw-media > a > img {
  width: 160px;
  height: 90px;
}
